 .cke {
    visibility: hidden;
}

.AFB {
    position: relative;
    background: white;
    padding-bottom: 30px;
}

.BFB {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 10px;
}

.PEB {
    text-align: center;
    font-size: 30px;
    color: #253c65;
    margin: 15px 0 0;
}

.MEB {
    color: red;
    font-style: italic;
    font-weight: normal;
    margin: 10px 0 10px;
}

.OEB {
    width: 218px;
    height: 33px;
    margin: 0 auto 5px;
    padding: 0;
    border: solid 1px #253c65;
    font-weight: bold;
    color: #253c65;
    display: block;
    padding: 0 15px;
    border-radius: 0;
}

.LEB {
    font-size: 12px;
    font-style: italic;
    color: #253c65;
    padding: 0 0 0 3px;
}

.JEB {
    background-color: #d3544d;
    padding: 9px !important;
}

.IEB {
    background-color: #253c65;
}

.KEB {
    color: #253c65;
    font-weight: bold;
}

.NEB {
    margin: 5px;
    font-size: 14px;
    text-transform: uppercase;
}

.FEB {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
}

.HEB {
    color: white;
    font-size: 1.5em;
}

.EEB {
    margin-top: -40px;
}

.BEB {
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.DEB {
    color: #c7c7c7;
    font-size: 1.5em;
    position: absolute;
    top: -20px;
    left: 5px;
}

.CEB {
    height: 60px;
    margin: 5px;
    float: left;
}

.GEB {
    overflow: hidden;
}

.AEB {
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
    color: white;
    margin: 10px;
    font-size: 1.3em;
    background-color: rgba(0, 0, 0, 0.1);
}

.AEB:ACTIVE {
    background-color: #fafafa;
    color: #333;
}

.fb_hidden {
    position: absolute;
    top: -10000px;
    z-index: 10001;
}

.fb_reposition {
    overflow: hidden;
    position: relative;
}

.fb_invisible {
    display: none;
}

.fb_reset {
    background: none;
    border: 0;
    border-spacing: 0;
    color: #000;
    cursor: auto;
    direction: ltr;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    margin: 0;
    overflow: visible;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    visibility: visible;
    white-space: normal;
    word-spacing: normal;
}

    .fb_reset > div {
        overflow: hidden;
    }

.fb_link img {
    border: none;
}

@keyframes fb_transform {
    from {
        opacity: 0;
        transform: scale(.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.fb_animate {
    animation: fb_transform .3s forwards;
}

.fb_dialog {
    background: rgba(82, 82, 82, .7);
    position: absolute;
    top: -10000px;
    z-index: 10001;
}

.fb_reset .fb_dialog_legacy {
    overflow: visible;
}

.fb_dialog_advanced {
    padding: 10px;
    border-radius: 8px;
}

.fb_dialog_content {
    background: #fff;
    color: #333;
}

.fb_dialog_close_icon {
    background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 15px;
    position: absolute;
    right: 18px;
    top: 17px;
    width: 15px;
}

.fb_dialog_mobile .fb_dialog_close_icon {
    top: 5px;
    left: 5px;
    right: auto;
}

.fb_dialog_padding {
    background-color: transparent;
    position: absolute;
    width: 1px;
    z-index: -1;
}

.fb_dialog_close_icon:hover {
    background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent;
}

.fb_dialog_close_icon:active {
    background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent;
}

.fb_dialog_loader {
    background-color: #f6f7f9;
    border: 1px solid #606060;
    font-size: 24px;
    padding: 20px;
}

.fb_dialog_top_left, .fb_dialog_top_right, .fb_dialog_bottom_left, .fb_dialog_bottom_right {
    height: 10px;
    width: 10px;
    overflow: hidden;
    position: absolute;
}

.fb_dialog_top_left {
    background: url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 0;
    left: -10px;
    top: -10px;
}

.fb_dialog_top_right {
    background: url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -10px;
    right: -10px;
    top: -10px;
}

.fb_dialog_bottom_left {
    background: url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -20px;
    bottom: -10px;
    left: -10px;
}

.fb_dialog_bottom_right {
    background: url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -30px;
    right: -10px;
    bottom: -10px;
}

.fb_dialog_vert_left, .fb_dialog_vert_right, .fb_dialog_horiz_top, .fb_dialog_horiz_bottom {
    position: absolute;
    background: #525252;
    filter: alpha(opacity=70);
    opacity: .7;
}

.fb_dialog_vert_left, .fb_dialog_vert_right {
    width: 10px;
    height: 100%;
}

.fb_dialog_vert_left {
    margin-left: -10px;
}

.fb_dialog_vert_right {
    right: 0;
    margin-right: -10px;
}

.fb_dialog_horiz_top, .fb_dialog_horiz_bottom {
    width: 100%;
    height: 10px;
}

.fb_dialog_horiz_top {
    margin-top: -10px;
}

.fb_dialog_horiz_bottom {
    bottom: 0;
    margin-bottom: -10px;
}

.fb_dialog_iframe {
    line-height: 0;
}

.fb_dialog_content .dialog_title {
    background: #6d84b4;
    border: 1px solid #365899;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

    .fb_dialog_content .dialog_title > span {
        background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;
        float: left;
        padding: 5px 0 7px 26px;
    }

body.fb_hidden {
    -webkit-transform: none;
    height: 100%;
    margin: 0;
    overflow: visible;
    position: absolute;
    top: -10000px;
    left: 0;
    width: 100%;
}

.fb_dialog.fb_dialog_mobile.loading {
    background: url(https://static.xx.fbcdn.net/rsrc.php/v3/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 10001;
}

    .fb_dialog.fb_dialog_mobile.loading.centered {
        width: auto;
        height: auto;
        min-height: initial;
        min-width: initial;
        background: none;
    }

        .fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner {
            width: 100%;
        }

        .fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content {
            background: none;
        }

.loading.centered #fb_dialog_loader_close {
    color: #fff;
    display: block;
    padding-top: 20px;
    clear: both;
    font-size: 18px;
}

#fb-root #fb_dialog_ipad_overlay {
    background: rgba(0, 0, 0, .45);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    z-index: 10000;
}

    #fb-root #fb_dialog_ipad_overlay.hidden {
        display: none;
    }

.fb_dialog.fb_dialog_mobile.loading iframe {
    visibility: hidden;
}

.fb_dialog_content .dialog_header {
    -webkit-box-shadow: white 0 1px 1px -1px inset;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#738ABA), to(#2C4987));
    border-bottom: 1px solid;
    border-color: #1d4088;
    color: #fff;
    font: 14px Helvetica, sans-serif;
    font-weight: bold;
    text-overflow: ellipsis;
    text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0;
    vertical-align: middle;
    white-space: nowrap;
}

    .fb_dialog_content .dialog_header table {
        -webkit-font-smoothing: subpixel-antialiased;
        height: 43px;
        width: 100%;
    }

    .fb_dialog_content .dialog_header td.header_left {
        font-size: 12px;
        padding-left: 5px;
        vertical-align: middle;
        width: 60px;
    }

    .fb_dialog_content .dialog_header td.header_right {
        font-size: 12px;
        padding-right: 5px;
        vertical-align: middle;
        width: 60px;
    }

.fb_dialog_content .touchable_button {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4966A6), color-stop(.5, #355492), to(#2A4887));
    border: 1px solid #29487d;
    -webkit-background-clip: padding-box;
    -webkit-border-radius: 3px;
    -webkit-box-shadow: rgba(0, 0, 0, .117188) 0 1px 1px inset, rgba(255, 255, 255, .167969) 0 1px 0;
    display: inline-block;
    margin-top: 3px;
    max-width: 85px;
    line-height: 18px;
    padding: 4px 12px;
    position: relative;
}

.fb_dialog_content .dialog_header .touchable_button input {
    border: none;
    background: none;
    color: #fff;
    font: 12px Helvetica, sans-serif;
    font-weight: bold;
    margin: 2px -12px;
    padding: 2px 6px 3px 6px;
    text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0;
}

.fb_dialog_content .dialog_header .header_center {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
}

.fb_dialog_content .dialog_content {
    background: url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;
    border: 1px solid #555;
    border-bottom: 0;
    border-top: 0;
    height: 150px;
}

.fb_dialog_content .dialog_footer {
    background: #f6f7f9;
    border: 1px solid #555;
    border-top-color: #ccc;
    height: 40px;
}

#fb_dialog_loader_close {
    float: left;
}

.fb_dialog.fb_dialog_mobile .fb_dialog_close_button {
    text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0;
}

.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon {
    visibility: hidden;
}

#fb_dialog_loader_spinner {
    animation: rotateSpinner 1.2s linear infinite;
    background-color: transparent;
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 24px;
    width: 24px;
}

@keyframes rotateSpinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.fb_iframe_widget {
    display: inline-block;
    position: relative;
}

    .fb_iframe_widget span {
        display: inline-block;
        position: relative;
        text-align: justify;
    }

    .fb_iframe_widget iframe {
        position: absolute;
    }

.fb_iframe_widget_fluid_desktop, .fb_iframe_widget_fluid_desktop span, .fb_iframe_widget_fluid_desktop iframe {
    max-width: 100%;
}

    .fb_iframe_widget_fluid_desktop iframe {
        min-width: 220px;
        position: relative;
    }

.fb_iframe_widget_lift {
    z-index: 1;
}

.fb_hide_iframes iframe {
    position: relative;
    left: -10000px;
}

.fb_iframe_widget_loader {
    position: relative;
    display: inline-block;
}

.fb_iframe_widget_fluid {
    display: inline;
}

    .fb_iframe_widget_fluid span {
        width: 100%;
    }

.fb_iframe_widget_loader iframe {
    min-height: 32px;
    z-index: 2;
    zoom: 1;
}

.fb_iframe_widget_loader .FB_Loader {
    background: url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat;
    height: 32px;
    width: 32px;
    margin-left: -16px;
    position: absolute;
    left: 50%;
    z-index: 4;
}

.fb_customer_chat_bounce_in {
    animation-duration: 250ms;
    animation-name: fb_bounce_in;
}

.fb_customer_chat_bounce_out {
    animation-duration: 250ms;
    animation-name: fb_fade_out;
}

.fb_invisible_flow {
    display: inherit;
    height: 0;
    overflow-x: hidden;
    width: 0;
}

.fb_mobile_overlay_active {
    background-color: #fff;
    height: 100%;
    overflow: hidden;
    position: fixed;
    visibility: hidden;
    width: 100%;
}

@keyframes fb_fade_out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fb_bounce_in {
    0% {
        opacity: 0;
        transform: scale(.8, .8);
        transform-origin: 100% 100%;
    }

    10% {
        opacity: .1;
    }

    20% {
        opacity: .2;
    }

    30% {
        opacity: .3;
    }

    40% {
        opacity: .4;
    }

    50% {
        opacity: .5;
    }

    60% {
        opacity: .6;
    }

    70% {
        opacity: .7;
    }

    80% {
        opacity: .8;
        transform: scale(1.03, 1.03);
    }

    90 {
        opacity: .9;
    }

    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}
.AGB {
    background-color: #f1f1f1;
    background-repeat: repeat;
    border: none !important;
    width: 100%;
    /*height: 100vh;*/
    position: relative;
}

.NFB {
    width: 100%;
    border-bottom: 1px dotted black;
}

.KGB {
    width: 100%;
    background-color: #00a99d;
}

.HFB {
    width: 100%;
    margin-top: 10px;
}

.BGB {
    width: 100%;
}

.DFB {
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    background-color: transparent;
    border: 1px dotted black;
    border-right: 1px dotted black;
    color: black !important;
    text-align: center;
}

.DFB ul li a {
    color: red !important;
}

.DFB:ACTIVE, .DFB:HOVER {
    color: #00a99d !important;
    background-color: white !important;
}

.KFB {
    width: 100%;
    background-color: #005964;
    overflow: hidden;
    margin-top: 10px;
}

.JFB {
    height: 50px;
    margin-left: 10%;
    padding: 5px;
    border-radius: 10px;
}

.LFB {
    padding: 5px;
    line-height: 40px;
    color: #fff;
    float: left;
}

.HGB {
    display: block;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 25px;
    border-bottom: 1px dotted;
    padding: 10px;
    margin-bottom: 25px;
}

.HGB > a, .HGB > div, .HGB > table {
    float: right;
    color: black !important;
    margin-left: 6px;
}

.HGB > button {
    float: right;
    color: black !important;
    margin-left: 6px;
    margin-top: 1px;
    font-size: 0.9em;
}

.CFB {
    color: black !important;
    font-size: 0.9em;
    margin-top: 2px;
}

.CGB {
    width: 100% !important;
}

.IFB {
    background-image: url(images/face.png);
    background-repeat: no-repeat;
    background-size: 25px 25px;
    width: 40px;
    height: 40px;
    background-position: 50% center;
    background-color: #1ea3c4;
    border: none;
    border-radius: 100%;
    margin-right: 15px;
}

.MFB {
    background-image: url(images/gg.png);
    background-repeat: no-repeat;
    background-size: 15px 15px;
    width: 40px;
    height: 40px;
    background-position: 50% center;
    background-color: #1ea3c4;
    border: none;
    border-radius: 100%;
    margin-right: 15px;
}

.JGB {
    background-image: url(images/twitter.png);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    width: 40px;
    height: 40px;
    background-position: 50% center;
    background-color: #1ea3c4;
    border: none;
    border-radius: 100%;
    margin-right: 15px;
}

.FGB {
    float: right;
}

.GGB {
    display: inline-block;
    float: right;
    vertical-align: bottom;
    padding-top: 5px;
}

.FFB {
    width: 100%;
}

.EGB {
    width: 100%;
    height: 50px;
    background-color: #0066bf;
}

.DGB {
    width: 90%;
    margin: 0 auto;
    margin-top: -50px;
    margin-bottom: -30px;
    background-color: white;
    position: relative;
}

.GFB {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.PFB {
    display: inline-block;
    vertical-align: bottom;
    padding-right: 10px;
}

.OFB {
    display: inline-block;
    font-size: 0.9em;
    font-family: -webkit-body;
}

.LGB {
    font-size: 1.2em;
    text-transform: uppercase;
}

.MGB {
    font-size: 0.9em;
    text-transform: uppercase;
}

.IGB {
    float: right;
    display: flex;
}

.DHB {
    font-weight: bold;
    font-size: 1.2em;
}

.BHB {
    font-size: 1.1em;
}

.HHB {
    margin-bottom: 10px;
    margin-top: 10px;
}

.FHB {
    position: relative;
}

.JHB {
    overflow: hidden;
    float: left;
}

    .JHB div, .KHB, .GHB > * {
        float: left;
    }

.LHB {
    margin-bottom: 15px;
}

.GHB {
    overflow: hidden;
}

.IHB {
    margin-top: 10px;
}

.PGB {
    margin-left: 15px;
    color: white;
    background-color: #f28226;
    width: 100px;
    height: 32px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.OGB {
    margin: 0 auto;
    margin-top: 30px;
}

.EHB {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    color: #f28226;
}

.NGB {
    position: relative;
}