HTML {
   margin: 0 !important;
   border: none !important;
}
.dragdrop-handle {
   cursor: move;
   user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
}
.dragdrop-draggable {
   zoom: 1;
}
.dragdrop-dragging {
   zoom: normal;
}
.dragdrop-positioner {
   border: 1px dashed #1e90ff;
   margin: 0 !important;
   zoom: 1;
   z-index: 100;
}
.dragdrop-flow-panel-positioner {
   color: #1e90ff;
   display: inline;
   text-align: center;
   vertical-align: middle;
}
.dragdrop-proxy {
   background-color: #7af;
}
.dragdrop-selected, .dragdrop-dragging, .dragdrop-proxy {
   opacity: 0.3;
}
.dragdrop-movable-panel {
   z-index: 200;
   margin: 0 !important;
   border: none !important;
}

.cke {
   visibility: hidden;
}

.navbar-nav>li:hover .dropdown-menu{
   display:block;
}
.LFB {
   position: relative;
   background: white;
   padding-bottom: 30px;
}
   .MFB {
   display: block;
margin: 0 auto;
   overflow: hidden;
   padding-top: 10px;
}
.KFB {
   text-align: center;
   font-size: 30px;
   color: #253c65;
   margin: 15px 0 0;
}
.HFB {
   color: red;
   font-style: italic;
   font-weight: normal;
   margin: 10px 0 10px;
}
.JFB {
   width: 218px;
   height: 33px;
   margin: 0 auto 5px;
   padding: 0;
   border: solid 1px #253c65;
   font-weight: bold;
   color: #253c65;
   display: block;
   padding: 0 15px;
   border-radius: 0;
}
.GFB {
   font-size: 12px;
   font-style: italic;
   color: #253c65;
   padding: 0 0 0 3px;
}
.EFB {
   background-color: #d3544d;
   padding: 9px !important;
}
.DFB {
   background-color: #253c65;
}
.FFB {
   color: #253c65;
   font-weight: bold;
}
.IFB {
   margin: 5px;
   font-size: 14px;
   text-transform: uppercase;
}
.AFB {
   background: rgba(0, 0, 0, 0.5);
   position: absolute;
   top: 0;
   left: 0;
   z-index: 99999;
}
.CFB {
   color: white;
   font-size: 1.5em;
}
.PEB {
   margin-top: -40px;
}
.MEB {
   position: relative;
   background-repeat: no-repeat;
   background-size: 100% 100%;
}
.OEB {
   color: #c7c7c7;
   font-size: 1.5em;
   position: absolute;
   top: -20px;
   left: 5px;
}
.NEB {
   height: 60px;
   margin: 5px;
   float: left;
}
.BFB {
   overflow: hidden;
}
.LEB {
   border: 1px solid white;
   padding: 5px;
   border-radius: 5px;
   color: white;
   margin: 10px;
   font-size: 1.3em;
   background-color: rgba(0, 0, 0, 0.1);
}
.LEB:ACTIVE {
   background-color: #fafafa;
   color: #333;
}

.fb_hidden {
position: absolute;
top: -10000px;
z-index: 10001;
}
.fb_reposition {
overflow: hidden;
position: relative;
}
.fb_invisible {
display: none;
}
.fb_reset {
background: none;
border: 0;
border-spacing: 0;
color: #000;
cursor: auto;
direction: ltr;
font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
font-size: 11px;
font-style: normal;
font-variant: normal;
font-weight: normal;
letter-spacing: normal;
line-height: 1;
margin: 0;
overflow: visible;
padding: 0;
text-align: left;
text-decoration: none;
text-indent: 0;
text-shadow: none;
text-transform: none;
visibility: visible;
white-space: normal;
word-spacing: normal;
}
.fb_reset > div {
overflow: hidden;
}
.fb_link img {
border: none;
}
@keyframes fb_transform {
from {
opacity: 0;
transform: scale(.95);
}
to {
opacity: 1;
transform: scale(1);
}
}
.fb_animate {
animation: fb_transform .3s forwards;
}
.fb_dialog {
background: rgba(82, 82, 82, .7);
position: absolute;
top: -10000px;
z-index: 10001;
}
.fb_reset .fb_dialog_legacy {
overflow: visible;
}
.fb_dialog_advanced {
padding: 10px;
border-radius: 8px;
}
.fb_dialog_content {
background: #fff;
color: #333;
}
.fb_dialog_close_icon {
background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;
cursor: pointer;
display: block;
height: 15px;
position: absolute;
right: 18px;
top: 17px;
width: 15px;
}
.fb_dialog_mobile .fb_dialog_close_icon {
top: 5px;
left: 5px;
right: auto;
}
.fb_dialog_padding {
background-color: transparent;
position: absolute;
width: 1px;
z-index: -1;
}
.fb_dialog_close_icon:hover {
background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent;
}
.fb_dialog_close_icon:active {
background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent;
}
.fb_dialog_loader {
background-color: #f6f7f9;
border: 1px solid #606060;
font-size: 24px;
padding: 20px;
}
.fb_dialog_top_left, .fb_dialog_top_right, .fb_dialog_bottom_left, .fb_dialog_bottom_right {
height: 10px;
width: 10px;
overflow: hidden;
position: absolute;
}
.fb_dialog_top_left {
background: url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 0;
left: -10px;
top: -10px;
}
.fb_dialog_top_right {
background: url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -10px;
right: -10px;
top: -10px;
}
.fb_dialog_bottom_left {
background: url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -20px;
bottom: -10px;
left: -10px;
}
.fb_dialog_bottom_right {
background: url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -30px;
right: -10px;
bottom: -10px;
}
.fb_dialog_vert_left, .fb_dialog_vert_right, .fb_dialog_horiz_top, .fb_dialog_horiz_bottom {
position: absolute;
background: #525252;
filter: alpha(opacity=70);
opacity: .7;
}
.fb_dialog_vert_left, .fb_dialog_vert_right {
width: 10px;
height: 100%;
}
.fb_dialog_vert_left {
margin-left: -10px;
}
.fb_dialog_vert_right {
right: 0;
margin-right: -10px;
}
.fb_dialog_horiz_top, .fb_dialog_horiz_bottom {
width: 100%;
height: 10px;
}
.fb_dialog_horiz_top {
margin-top: -10px;
}
.fb_dialog_horiz_bottom {
bottom: 0;
margin-bottom: -10px;
}
.fb_dialog_iframe {
line-height: 0;
}
.fb_dialog_content .dialog_title {
background: #6d84b4;
border: 1px solid #365899;
color: #fff;
font-size: 14px;
font-weight: bold;
margin: 0;
}
.fb_dialog_content .dialog_title > span {
background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;
float: left;
padding: 5px 0 7px 26px;
}
body.fb_hidden {
-webkit-transform: none;
height: 100%;
margin: 0;
overflow: visible;
position: absolute;
top: -10000px;
left: 0;
width: 100%;
}
.fb_dialog.fb_dialog_mobile.loading {
background: url(https://static.xx.fbcdn.net/rsrc.php/v3/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;
min-height: 100%;
min-width: 100%;
overflow: hidden;
position: absolute;
top: 0;
z-index: 10001;
}
.fb_dialog.fb_dialog_mobile.loading.centered {
width: auto;
height: auto;
min-height: initial;
min-width: initial;
background: none;
}
.fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner {
width: 100%;
}
.fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content {
background: none;
}
.loading.centered #fb_dialog_loader_close {
color: #fff;
display: block;
padding-top: 20px;
clear: both;
font-size: 18px;
}
#fb-root #fb_dialog_ipad_overlay {
background: rgba(0, 0, 0, .45);
position: absolute;
bottom: 0;
left: 0;
right: 0;
top: 0;
width: 100%;
min-height: 100%;
z-index: 10000;
}
#fb-root #fb_dialog_ipad_overlay.hidden {
display: none;
}
.fb_dialog.fb_dialog_mobile.loading iframe {
visibility: hidden;
}
.fb_dialog_content .dialog_header {
-webkit-box-shadow: white 0 1px 1px -1px inset;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#738ABA), to(#2C4987));
border-bottom: 1px solid;
border-color: #1d4088;
color: #fff;
font: 14px Helvetica, sans-serif;
font-weight: bold;
text-overflow: ellipsis;
text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0;
vertical-align: middle;
white-space: nowrap;
}
.fb_dialog_content .dialog_header table {
-webkit-font-smoothing: subpixel-antialiased;
height: 43px;
width: 100%;
}
.fb_dialog_content .dialog_header td.header_left {
font-size: 12px;
padding-left: 5px;
vertical-align: middle;
width: 60px;
}
.fb_dialog_content .dialog_header td.header_right {
font-size: 12px;
padding-right: 5px;
vertical-align: middle;
width: 60px;
}
.fb_dialog_content .touchable_button {
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4966A6), color-stop(.5, #355492), to(#2A4887));
border: 1px solid #29487d;
-webkit-background-clip: padding-box;
-webkit-border-radius: 3px;
-webkit-box-shadow: rgba(0, 0, 0, .117188) 0 1px 1px inset, rgba(255, 255, 255, .167969) 0 1px 0;
display: inline-block;
margin-top: 3px;
max-width: 85px;
line-height: 18px;
padding: 4px 12px;
position: relative;
}
.fb_dialog_content .dialog_header .touchable_button input {
border: none;
background: none;
color: #fff;
font: 12px Helvetica, sans-serif;
font-weight: bold;
margin: 2px -12px;
padding: 2px 6px 3px 6px;
text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0;
}
.fb_dialog_content .dialog_header .header_center {
color: #fff;
font-size: 16px;
font-weight: bold;
line-height: 18px;
text-align: center;
vertical-align: middle;
}
.fb_dialog_content .dialog_content {
background: url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;
border: 1px solid #555;
border-bottom: 0;
border-top: 0;
height: 150px;
}
.fb_dialog_content .dialog_footer {
background: #f6f7f9;
border: 1px solid #555;
border-top-color: #ccc;
height: 40px;
}
#fb_dialog_loader_close {
float: left;
}
.fb_dialog.fb_dialog_mobile .fb_dialog_close_button {
text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0;
}
.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon {
visibility: hidden;
}
#fb_dialog_loader_spinner {
animation: rotateSpinner 1.2s linear infinite;
background-color: transparent;
background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);
background-repeat: no-repeat;
background-position: 50% 50%;
height: 24px;
width: 24px;
}
@keyframes rotateSpinner {
0% {
transform: rotate(0deg);
}
100% {
transform: rotate(360deg);
}
}
.fb_iframe_widget {
display: inline-block;
position: relative;
}
.fb_iframe_widget span {
display: inline-block;
position: relative;
text-align: justify;
}
.fb_iframe_widget iframe {
position: absolute;
}
.fb_iframe_widget_fluid_desktop, .fb_iframe_widget_fluid_desktop span, .fb_iframe_widget_fluid_desktop iframe {
max-width: 100%;
}
.fb_iframe_widget_fluid_desktop iframe {
min-width: 220px;
position: relative;
}
.fb_iframe_widget_lift {
z-index: 1;
}
.fb_hide_iframes iframe {
position: relative;
left: -10000px;
}
.fb_iframe_widget_loader {
position: relative;
display: inline-block;
}
.fb_iframe_widget_fluid {
display: inline;
}
.fb_iframe_widget_fluid span {
width: 100%;
}
.fb_iframe_widget_loader iframe {
min-height: 32px;
z-index: 2;
zoom: 1;
}
.fb_iframe_widget_loader .FB_Loader {
background: url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat;
height: 32px;
width: 32px;
margin-left: -16px;
position: absolute;
left: 50%;
z-index: 4;
}
.fb_customer_chat_bounce_in {
animation-duration: 250ms;
animation-name: fb_bounce_in;
}
.fb_customer_chat_bounce_out {
animation-duration: 250ms;
animation-name: fb_fade_out;
}
.fb_invisible_flow {
display: inherit;
height: 0;
overflow-x: hidden;
width: 0;
}
.fb_mobile_overlay_active {
background-color: #fff;
height: 100%;
overflow: hidden;
position: fixed;
visibility: hidden;
width: 100%;
}
@keyframes fb_fade_out {
from {
opacity: 1;
}
to {
opacity: 0;
}
}
@keyframes fb_bounce_in {
0% {
opacity: 0;
transform: scale(.8, .8);
transform-origin: 100% 100%;
}
10% {
opacity: .1;
}
20% {
opacity: .2;
}
30% {
opacity: .3;
}
40% {
opacity: .4;
}
50% {
opacity: .5;
}
60% {
opacity: .6;
}
70% {
opacity: .7;
}
80% {
opacity: .8;
transform: scale(1.03, 1.03);
}
90 {
opacity: .9;
}
100% {
opacity: 1;
transform: scale(1, 1);
}
}

.JJB {
background-color: #f1f1f1;
background-repeat: repeat;
border: none !important;
width: 100%;
/*height: 100vh;*/
position: relative;
}
.GJB {
width: 100%;
border-bottom: 1px dotted black;
}
.CKB {
width: 100%;
background-color: #00a99d;
}
.PIB {
width: 100%;
margin-top: 10px;
}
.KJB {
width: 100%;
}
.LIB {
padding-left: 10px !important;
padding-right: 10px !important;
padding-top: 5px !important;
padding-bottom: 5px !important;
background-color: transparent;
border: 1px dotted black;
border-right: 1px dotted black;
color: black !important;
text-align: center;
}
.LIB:ACTIVE, .LIB:HOVER {
color: #00a99d !important;
background-color: white !important;
}
.DJB {
width: 100%;
background-color: #005964;
overflow: hidden;
margin-top: 10px;
}
.CJB {
height: 50px;
margin-left: 10%;
padding: 5px;
border-radius: 10px;
}
.EJB {
padding: 5px;
line-height: 40px;
color: #fff;
float: left;
}
.AKB {
display: block;
overflow: hidden;
margin-left: 10px;
margin-right: 10px;
min-height: 25px;
border-bottom: 1px dotted;
padding: 10px;
margin-bottom: 25px;
}
.AKB > a, .AKB > div, .AKB > table {
float: right;
color: black !important;
margin-left: 6px;
}
.AKB > button {
float: right;
color: black !important;
margin-left: 6px;
margin-top: 1px;
font-size: 0.9em;
}
.KIB {
color: black !important;
font-size: 0.9em;
margin-top: 2px;
}
.LJB {
width: 100% !important;
}
.AJB {
background-image: url(images/face.png);
background-repeat: no-repeat;
background-size: 25px 25px;
width: 40px;
height: 40px;
background-position: 50% center;
background-color: #1ea3c4;
border: none;
border-radius: 100%;
margin-right: 15px;
}
.FJB {
background-image: url(images/gg.png);
background-repeat: no-repeat;
background-size: 15px 15px;
width: 40px;
height: 40px;
background-position: 50% center;
background-color: #1ea3c4;
border: none;
border-radius: 100%;
margin-right: 15px;
}
.BKB {
background-image: url(images/twitter.png);
background-repeat: no-repeat;
background-size: 18px 18px;
width: 40px;
height: 40px;
background-position: 50% center;
background-color: #1ea3c4;
border: none;
border-radius: 100%;
margin-right: 15px;
}
.OJB {
float: right;
}
.PJB {
display: inline-block;
float: right;
vertical-align: bottom;
padding-top: 5px;
}
.NIB {
width: 100%;
}
.NJB {
width: 100%;
height: 50px;
background-color: #0066bf;
}
.MJB {
width: 90%;
margin: 0 auto;
margin-top: -50px;
margin-bottom: -30px;
background-color: white;
position: relative;
}
.OIB {
/*overflow: hidden;*/
width: 100%;
height: 600px;
padding: 10px;
}
.IJB {
display: inline-block;
vertical-align: bottom;
padding-right: 10px;
}
.HJB {
display: inline-block;
font-size: 0.9em;
font-family: -webkit-body;
}
.DKB {
font-size: 1.2em;
text-transform: uppercase;
}
.EKB {
font-size: 0.9em;
text-transform: uppercase;
}
.BJB {
width: 23px;
float: right;
color: black !important;
margin-left: 6px;
}
.LMB {
width: 100%;
margin: 0 auto;
margin-top: 25px;
}
.JMB {
font-size: 15px;
line-height: inherit;
color: #333;
font-weight: 600;
padding-bottom: 8px;
padding-top: 8px;
background-color: #e2e4e6;
width: 100%;
padding-left: 15px;
}
.OMB {
border-bottom: 1px solid #f4f5f6;
padding-bottom: 6px;
padding-top: 6px;
font-family: Aria;
font-size: 1.1em;
padding-left: 30px;
}
.NMB {
border-top: 2px solid #18a4c2;
margin-top: 31px;
}
.MMB {
cursor: pointer;
}
.PMB {
margin-left: 30%;
margin-top: 20px;
width: 40%;
}
.KMB {
border-bottom: 1px solid #ccc;
text-align: left;
margin-bottom: 4px;
width: 100%;
}
.GI {
padding: 4px 8px;
text-align: center;
}
.EI {
padding: 4px;
cursor: pointer;
cursor: hand;
}
.FI {
cursor: default;
}
.CMB {
position: relative;
background: white;
padding-bottom: 30px;
}
.DMB {
display: block;
margin: 0 auto;
overflow: hidden;
padding-top: 10px;
}
.GMB {
width: 100%;
margin: 0 auto;
background-color: white;
box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
overflow-x: scroll;
}
.BMB {
border-bottom: 1px solid #ccc;
text-align: left;
margin-bottom: 4px;
min-width: 800px;
}
.BMB input {
width: 100%;
text-align: left;
}
.EMB {
text-align: center;
font-size: 1.5em;
padding: 10px;
}
.FMB {
margin-left: 45%;
}
.HMB {
position: relative;
background: white;
padding-bottom: 30px;
}
.IMB {
display: block;
margin: 0 auto;
overflow: hidden;
padding-top: 10px;
}
.PLB {
position: relative;
background: white;
padding-bottom: 30px;
}
.AMB {
display: block;
margin: 0 auto;
overflow: hidden;
padding-top: 10px;
}
.OLB {
background-color: #e1e7f7;
}

.ALB {
border-bottom: 1px solid #ccc;
text-align: left;
margin-bottom: 4px;
}
.ALB input {
width: 100%;
text-align: left;
}
.BLB {
overflow: auto;
background-color: white;
width: auto;
}
.ELB {
width: 50%;
margin: 0 auto;
}
.CLB, .DLB {
text-align: -webkit-center;
}
.PKB {
padding: 5px;
border: none;
width: 95%;
border-bottom: 1px solid #cdcdcd;
margin: 2px 0;
}

border-bottom: 1px solid #ccc;
text-align: left;
margin-bottom: 4px;
}
.MKB input {
width: 100%;
text-align: left;
}

.CNB {
width: 100%;
margin: 0 auto;
background-color: white;
box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
overflow-x: scroll;
}
.ANB {
border-bottom: 1px solid #ccc;
text-align: left;
margin-bottom: 4px;
min-width: 1200px;
}
.ANB input {
width: 100%;
text-align: left;
}
.BNB {
text-align: center;
}